.auth-container {
  background-color: #e5e8eb;
  margin: 0;
  padding-top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-callto {
  background-color: white;
  border-radius: 0.5rem;
  width: 30rem;
  height: auto;
  margin-top: 4rem;
  text-align: center;
  border: #0f82fe6d solid;
}

.auth-callto h1 {
  margin: 0;
  padding: 2rem;
  color: #404347;
  font-size: 2rem;
  font-weight: 600;
}

.callto-button {
  color: #404347;
  height: 3rem;
  width: 12rem;
  border-radius: 5rem;
  border: #40434770 solid;
  font-size: 1rem;
  transition: box-shadow 0.3s;
  margin: 2rem;
}

.callto-button:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.auth-container h1 {
  margin: 0;
  padding: 2rem;
  color: #404347;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.auth-container .modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
}

.auth-container .modal-content {
  background-color: #e9eef6;
  padding: 2rem;
  border-radius: 0.2vw;
  width: 30rem;
  height: 25rem;
  max-width: 80%;
  min-height: 20rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: #0f82fe6d solid;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.auth-container .modal-content input {
  margin: 0 0.5rem 1rem 0.5rem;
  color: #404347;
  height: 1.5rem;
  width: 16rem;
  border: #40434770 solid 0.1rem;
  border-radius: 0.2rem;
}

.auth-container .modal-content input:hover {
  border: #404347a5 solid 0.1rem;
}

.auth-container .modal-content label {
  margin: 0 0.5rem 0 0.5rem;
  color: #404347;
  font-weight: 600;
}

.auth-container .auth-button {
  color: #404347;
  height: 3rem;
  width: 12rem;
  border-radius: 5rem;
  border: #40434770 solid;
  font-size: 1rem;
  transition: box-shadow 0.3s;
  margin: 1rem 2rem 1rem 2.5rem;
}

.auth-container .auth-button:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.auth-container .close {
  font-size: 30px;
  color: #aaa;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}

.auth-container .close:hover,
.auth-container .close:focus {
  color: black;
}

.auth-container .error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

#already-account {
  border-radius: 0.5rem;
}
#no-account {
  border-radius: 0.5rem;
}
