#update-plan-button #create-plan-button {
  margin-top: 1rem;
}

#plan-title title {
  margin-bottom: 1rem;
  margin-top: 3rem;
}

#category-length-container {
  width: fit-content;
  margin-top: 1rem;
}

.my-plan-subheader {
  display: flex;
  justify-content: space-between;
}

#back-btn {
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.btns-myplan {
  display: flex;
  justify-content: space-between;
}

#update-plan-button {
  margin-right: 1rem;
  height: 2.5rem;
}

#add-exercise {
  height: 2.5rem;
}
