nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: solid #0f82fe6d 0.2rem;
}

.nav-buttons-container {
  padding: 0.5rem;
  margin-right: 1rem;
}

nav button {
  columns: #404347;
  padding: 1rem;
}

nav button:hover {
  background-color: #e5e8eb6a;
  border-radius: 0.2rem;
}
.active-button {
  background-color: #e5e8eb6a;
  border-radius: 0.2rem;
}

#user-name {
  color: #005fdc;
  font-weight: 600;
  padding: 1rem;
}
#user-name:hover {
  background-color: #e5e8eb6a;
  border-radius: 0.2rem;
}
