.plans-container {
  margin: 2rem;
  margin-bottom: 3rem;
}

#blue-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plans-pg-head {
  display: flex;
  justify-content: space-between;
}

.auth-text {
  margin-top: 3rem;
}

#create-plan-container-btn {
  padding: 0;
}

.auth-text a {
  color: #3b81f6;
}
