@tailwind base;
@tailwind components;
@tailwind utilities;

.raleway-momentum {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#root {
  background-color: #e5e8eb;
  height: 100%;
}
body {
  margin: 0;
  height: 50vw;
}

.logo {
  height: 5vw;
  width: auto;
  border-radius: 5%;
}

#not-found-bg {
  display: flex;
  justify-content: center;
}

#not-found-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
